h1 {
	text-align: center;
}

p {
	text-align : center;
}

#maDiv {
	width : 200px; height : 100px; margin : 0 auto; border : 2px solid black;
}

.rouge {
	background-color:red;
}

.blanc {
	background-color:white;
}